@import url("../styles/_variable.scss");
.l-button {
  .el-button--small,.el-button--mini {
    .l-iconfont {
      font-size: 12px;
    }
  }
  .el-button--medium {
    .l-iconfont {
      font-size: 14px;
    }
  }
}

.el-popover.l-button-popper {
  min-width: 100px;
  .l-button-more {
    .l-button-more-item {
      line-height: 30px;
      cursor: pointer;
    }
  }
}